<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>


  <div class="container">
    <div class="row content">
      <div class="col">
        <h1 align="center">จัดการ</h1>
        <div class="row">
          <div class="col pat" *ngFor="let dashboard of dashboard">
            <div class="row" >
              <div class="col text-dashboard">ชื่อโปรเจค : pyfish </div>
              <div class="col text-dashboard">ชื่อผู้ใช้งาน : km_dev(admin) <u class="link" (click)="logout()">ออกจากระบบ</u>
              </div>
            </div>
            <div class="row">
              <div class="col text-dashboard">จำนวนผู้ใช้ : {{dashboard.user_count}} คน</div>
              <div class="col text-dashboard">จำนวนการเช่าวันนี้ : {{dashboard.rent_today}} รายการ </div>
            </div>
            <div class="row">
              <div class="col text-dashboard">จำนวนโปรแกรมที่มี : {{dashboard.program_count}} โปรแกรม
                <i data-bs-toggle="modal" data-bs-target="#add_program" (click)="getprogram()"  class="link bi bi-pencil-square"></i> </div>
              <div class="col text-dashboard">รายได้วันนี้ : {{dashboard.rent_price_today | mask: 'separator':',' }} บาท </div>
            </div>
            <div class="row">
              <div class="col text-dashboard">จำนวนการเช่าที่เปิดใช้งาน : {{dashboard.rent_open}} รายการ </div>
              <div class="col text-dashboard">เฉลี่ยเงินรายชั่วโมง : {{dashboard.price_per_hours | mask: 'separator.2':',' || '0'}} บาท </div>
            </div>
            <div class="row">
              <div class="col text-dashboard">จำนวนประวัติการเช่าทั้งหมด : {{dashboard.rent_all}} รายการ </div>
              <div class="col text-dashboard">รายได้ทั้งหมด : {{dashboard.price_all | mask: 'separator':','}} บาท </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-end pat" >
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">เพิ่ม <i class="bi bi-plus"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
        <table class="table">
          <thead>
            <tr>
              <td>ลำดับ</td>
              <td>MAC</td>
              <td>ชื่อ</td>
              <td>สร้างเมื่อ</td>
              <td>เข้าสู่ระบบครั้งสุดท้าย</td>
              <td>สถานะ</td>
              <td>จัดการ</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of user_info | paginate: {id:'user', itemsPerPage: 7, currentPage: page } let i = index">
              <td>{{i+1}}</td>
              <td>{{user.user_mac}}</td>
              <td>{{user.user_name}}</td>
              <td>{{user.user_create_when | dfnsParseIso | dfnsAddYears:543 | dfnsFormat:'d MMMM yyyy HH:mm:ss'   }}</td>
              <td>{{user.user_last_login | dfnsParseIso | dfnsAddYears:543 | dfnsFormat:'d MMMM yyyy HH:mm:ss' }}</td>
              <td class="ops-text" [ngClass]="user.user_status == 1?'text-success':'text-danger'"><u (click)="ban_user(user.user_mac,user.user_status)">{{user.user_status == 1 ?'เปิดใช้งาน':'ปิดใช้งาน'}}</u></td>
              <td><span class="p-3"><i data-bs-toggle="modal" data-bs-target="#update-modal" (click)="get_1_user(user.user_mac);get_program(user.user_mac,'true')" class="bi bi-pencil-square text-primary bi-ops fs-3"></i></span>
            </tr>
          </tbody>
        </table>
        <pagination-controls id="user" align="center"   (pageChange)="page = $event"></pagination-controls>
      </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มผู้ใช้</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="add_form" #add_form="ngForm" (submit)="add_user(add_form.value);this.add_form.reset()">
      <div class="modal-body" >
          <label  class="form-label">MAC</label>
          <input  oninput="this.value = this.value.toUpperCase()" [dropSpecialCharacters]="false" placeholder="AA:AA:AA:AA:AA:AA" ngModel [patterns]="customPatterns" mask="00:00:00:00:00:00" name="mac" type="text" class="form-control">
          <label class="form-label pt-3">ชื่อ</label>
          <input onsubmit="this.value = ''" ngModel name="name" placeholder="ชื่อ-นามสกุล" type="text" class="form-control" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">เพิ่ม<i class="bi bi-plus"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="update-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">แก้ไข</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #update_form="ngForm" (submit)="update_user(update_form.value);this.add_form.reset();">
      <div class="modal-body" >
          <label  class="form-label">MAC</label>
          <input ngModel [patterns]="customPatterns" mask="00:00:00:00:00:00" name="mac" type="text" class="form-control" value="{{mac.mac}}" readonly>
          <label class="form-label pt-3">ชื่อ</label>
          <div class="input-group">
          <input ngModel name="name" placeholder="ชื่อ-นามสกุล" type="text" class="form-control" value="{{mac.name}}">
          <button type="submit" class="btn btn-primary " >บันทึก <i class="bi bi-save"></i></button>
        </div>
        <div class="row">
          <div class="col d-flex align-items-end">
            <div class="form-check form-check-inline" >
              <input [(ngModel)]="mode" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true" (click)="get_program(mac.mac,'true')" checked>
              <label class="form-check-label" for="inlineRadio1">ฟังชั่นล่าสุด</label>
            </div>
            <div class="form-check form-check-inline" >
              <input [(ngModel)]="mode" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false" (click)="get_program(mac.mac,'false')">
              <label class="form-check-label" for="inlineRadio2">ประวัติทั้งหมด</label>
            </div>
          </div>
          <div class="col d-flex justify-content-end  pt-3">
            <button type="button" data-bs-toggle="modal" data-bs-target="#add_rent" (click)="getprogram()" class="btn btn-danger btn-sm ">เพิ่ม / ต่ออายุ <i class="bi bi-plus fs-6"></i></button>
          </div>
        </div>
          <table class="table">
            <thead>
            <tr>
              <th>ลำดับ</th>
              <th>โปรแกรมที่อนุญาต</th>
              <th>วันที่เริ่ม</th>
              <th>เหลืออีก</th>
              <th>สถานะ</th>
              <!-- <th>ต่ออายุ</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5" align="center" *ngIf="program.length == 0">ไม่มีโปรแกรมที่ใช้งานได้ ลอง<u data-bs-toggle="modal" data-bs-target="#add_rent" (click)="getprogram()"  class="link">เพิ่ม!</u></td>
            </tr>
            <tr *ngFor="let program of program | paginate: { itemsPerPage: 8, currentPage: p } let i = index">
              <td>{{i+1}}</td>
              <td>{{program.function_name}}</td>
              <td>{{program.rent_start | dfnsParseIso | dfnsAddYears:543 | dfnsFormat:'d MMMM yyyy HH:mm:ss'}}</td>
              <td><u data-bs-toggle="tooltip" data-bs-placement="top" title="{{program.rent_end | dfnsParseIso | dfnsAddYears:543 | dfnsFormat:'d MMMM yyyy HH:mm:ss' }}" class="text-tooltip">{{program.time_remain}}</u></td>
              <td  [ngClass]="program.rent_status == 1?'text-success':'text-danger'"><u *ngIf="program.rent_status == 1;else other" (click)="ban_rent(program.rent_id)" class="ops-text">{{program.rent_status == 1 ?'เปิดใช้งาน':'ปิดใช้งาน'}}</u><ng-template #other>
                <span  class="">{{program.rent_status == 1 ?'เปิดใช้งาน':'ปิดใช้งาน'}}</span>
              </ng-template>
              </td>
              <!-- <td><i class="ops-text bi bi-plus text-primary fs-3"></i></td> -->
            </tr>
          </tbody>
          </table>
          <pagination-controls align="center"   (pageChange)="p = $event"></pagination-controls>
      </div>

    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="add_rent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มการเช่า</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="add_rent_form" #add_rent_form="ngForm" (submit)="add_rent(mac.mac,add_rent_form.value);rent_form_init()">
      <div class="modal-body" >
          <label  class="form-label">MAC</label>
          <input ngModel [patterns]="customPatterns" mask="00:00:00:00:00:00" name="mac" type="text" class="form-control" value="{{mac.mac}}" readonly>
          <label class="form-label pt-3">จำนวนวันที่เช่า</label>
          <div class="input-group">
            <button type="button" class="btn btn-primary" (click)="set_day('72')">3 วัน</button>
            <button type="button" class="btn btn-primary" (click)="set_day('168')">7 วัน</button>
            <button type="button" class="btn btn-primary" (click)="set_day('720')">1 เดือน</button>
            <button type="button" class="btn btn-primary" (click)="set_day('2160')">3 เดือน</button>
            <input name="hours_of_rent" [(ngModel)]="day"  type="number" class="form-control">
            <label class="input-group-text">ชั่วโมง</label>
          </div>
          <label class="form-label pt-3">โปรแกรม</label>
          <select [(ngModel)]="function_id" class="form-select" name="function_id">
            <option *ngFor="let program of all_program" [selected]="program.function_id == '1'" value="{{program.function_id}}" selected>{{program.function_id+' - '+program.function_name}}</option>
          </select>
          <label class="form-label pt-3">ราคา</label>
          <div class="input-group">
          <input [(ngModel)]="rent_price" type="text" class="form-control" name="rent_price" mask="separator.0" thousandSeparator="," placeholder="">
          <label class="input-group-text">฿</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#update-modal">กลับ</button>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-modal" >เพิ่ม<i class="bi bi-plus"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="add_program" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มโปรแกรม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="add_program" #add_program="ngForm" (submit)="addprogram(add_program.value);this.add_form.reset()">
      <div class="modal-body" >
          <label  class="form-label">ชื่อโปรแกรม</label>
          <div class="input-group" style="padding-bottom: 10px;">
          <input  ngModel  name="name" type="text" class="form-control">
          <button type="submit" class="btn btn-primary">เพิ่ม<i class="bi bi-plus"></i></button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>ไอดี</th>
                <th>ชื่อโปรแกรม</th>
                <th>สถานะ</th>
                <th align="center">จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let program of all_program">
                <td>{{program.function_id}}</td>
                <td>{{program.function_name}}</td>
                <td  class="ops-text" [ngClass]="program.function_status == 1?'text-success':'text-danger'"><u (click)="banprogram(program.function_id,program.function_status)">{{program.function_status == 1 ?'เปิดใช้งาน':'ปิดใช้งาน'}}</u></td>
                <td align="center"><i data-bs-toggle="modal" (click)="get_1_program(program.function_id)" data-bs-target="#update_program" class="text-primary bi-ops fs-5 bi bi-pencil-square"></i></td>
              </tr>
            </tbody>
          </table>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="update_program" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">เพิ่มโปรแกรม</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="update_program" #update_program="ngForm" (submit)="updateprogram(program_input[0].function_id,update_program.value);this.add_form.reset()">
      <div class="modal-body" >
          <label  class="form-label">ชื่อโปรแกรม</label>
          <div class="input-group" style="padding-bottom: 10px;">
          <input placeholder="พิมพ์ชื่อที่นี่..." [(ngModel)]="program_input_name"   name="name" type="text" class="form-control">
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_program">แก้ไข<i class="bi bi-plus"></i></button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_program">กลับ</button>
      </div>
    </form>
    </div>
  </div>
</div>

