.bi-ops{
  cursor: pointer;
}

.content{
  padding-top: 5%;
}
.ops-text{

}

.ops-text:hover{
  font-weight:600;
  cursor: pointer;
}

.link{
  color:dodgerblue;
  cursor: pointer;
}

.pat{
  padding-top: 20px;
}

.link:hover{
  font-weight: 600;
}

.text-tooltip{
  font-weight:600;
  cursor: help;
}

.text-dashboard{
  padding-top: 10px;
  font-size: 14pt;
}
